.animals {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.animalButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

.toastContainer {
    max-width: 300px;
}